*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
html{
      font-size: 16px;
}
.wrapper{
     height: 100dvh;
     max-width: 100dvw;
    background-image: url("./images/5.jpg");
     overflow: hidden;     
     display: grid;
     grid-template-columns: 450px 1fr;
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
     
}


/* aside and main-section */
.aside-section{
      width: 100%;     
     padding: 0.5rem;
      height: 100%;
      border: 2px solid rgba(255, 255, 255, 0.308);
      backdrop-filter: blur(8px);
      border-radius: 12px;
      overflow: hidden;

     display: grid;
     grid-template-rows: 55px 1fr;
     position: relative;
  
}

.main-section{
       max-width: calc(100dvw - 450px);
       height: 100%;
         backdrop-filter: blur(8px);
        border: 2px solid rgba(255, 255, 255, 0.308);  
         border-radius: 12px;
         padding: 2px;
        display: grid;
        grid-template-rows: 70px 1fr ;
        
        
        overflow: hidden;
}


/* aside section new */
.search-container{
       height: 100%;         
}

.search-container input{
       width: 100%;
       padding: 0.8rem 0 0.8rem 0.5rem;
       border: none;
       font-size: 1.2rem;
       border-radius: 50px;  
       outline: none;
}

.all-List-Container {
    height: 100%;
    width: 100%;
    overflow: hidden; 
}

.all-List{
      height: 100%;
      width: 100%; 
        
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow-x: hidden;

      border-top: 2px solid  rgba(255, 255, 255, 0.308);
}





.wrap-profile {
    width: 100%;
    height: 100%;
    max-height: 70px;
    border-bottom: 2px solid  rgba(255, 255, 255, 0.308);
    /* border-radius: 12px; */

   display: flex;
   flex-direction: row;
   
   align-items: center;

   cursor: pointer;
   
}



.wrapImg{
      
      width: 60px;
      aspect-ratio: 1/1;

      margin: 0.5rem;
      padding: 3px;
      background-color: rgba(255, 255, 255, 0.317);
      border: 2px solid  rgba(255, 255, 255, 0.308);
      border-radius: 50%;
      text-align: center;
      overflow: hidden;

    
    
}

.imgProfile{
      height: 100%;
      width: 100%;
      border-radius: 50%;
      object-fit: cover;
      box-shadow: 0 0 4px;
      
}

.online-status{
      transition: box-shadow 0.2s ease-in-out;
         box-shadow: 0 0 4px 4px  green !important;
}

.nav-online-status{
        transition: box-shadow 0.2s ease-in-out;
         box-shadow:inset 0 0 12px  4px green !important;
}
.user,.group{
      padding: 0.5rem;
       font-size: 1.5rem;
       color: white;
       font-weight: 500;
}

.aside-edit-icon{
      position: absolute;
      width: 70px;
      height: 70px;
      border-radius: 50%;
     
      backdrop-filter: blur(18px);
      bottom: 100px;
      right: 50px;
       display: flex;
       justify-content: center;
       align-items: center;

       box-shadow:
        0 4px 12px rgba(0, 0, 0, 0.15),      
        inset 2px 2px 4px rgba(255, 255, 255, 0.5), 
        inset -2px -2px 6px rgba(0, 0, 0, 0.15); 

         background-image:
        radial-gradient(
            circle at 30% 30%,
            rgba(255, 255, 255, 0.55),
            rgba(255, 255, 255, 0.18)
        );
         
        cursor: pointer;
        transition: 0.25s ease;
}

.aside-edit-icon:hover {
    transform: translateY(-4px) scale(1.05);
    box-shadow:
        0 6px 18px rgba(0, 0, 0, 0.25),
        inset 3px 3px 5px rgba(255, 255, 255, 0.6),
        inset -3px -3px 8px rgba(0, 0, 0, 0.18);
}

.aside-edit-icon i{
       font-size: 1.5rem;
      
       
}

.edit-options-container{
      position: absolute;
       height: 150px;
       width: 150px;
       bottom: 170px;
       right: 100px;
       border: 1px solid rgba(255, 255, 255, 0.308);
       border-radius: 12px;
       box-shadow:inset 0 0 12px rgba(255, 255, 255, 0.308);
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       gap: 10px;
       color: white;
       padding: 2px;
       

}

.create-group,.show-my-profile,.logout-icon{
       font-size: 1.2rem;
       font-weight: 500;
       cursor: pointer;
       transition: transform 0.2s ease-in-out;
}
.create-group:hover,.show-my-profile:hover,.logout-icon:hover{
        transform: scale(1.05);
}

.all-List::-webkit-scrollbar {
    width: 6px;
}
.all-List::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
    transition: background 0.3s ease;
}

.all-List::-webkit-scrollbar-track {
    background: transparent;
}

.all-List:hover::-webkit-scrollbar-thumb,
.all-List:active::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.45);
    border: 2px solid rgba(255, 255, 255, 0.25);
}
/* main-section */
.nav-bar{
       height:100%;
       width: 100%;
       display: flex;
       justify-content: space-between;
       align-items: center;
            border-bottom: 2px solid rgba(255, 255, 255, 0.25);
            border-radius: 12px;
            box-shadow: 0 0 4px;
            gap: 1rem;

            position: relative;
}

.profile-container{
      
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
     padding: 8px;
  
}

.profile-image{
       height: 60px;
       width: 60px;
       border-radius: 50%;
       background-color: #ccc;

       display: flex;
       justify-content: center;
       align-items: center;

       box-shadow:inset 0 0 8px;
      

}

.profile--image{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.profile-name{
      font-size: 1.5rem;
      font-weight: 500;
      color: white;     
}

.right-icons{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 2rem;
      gap: 2rem;
}

.add_group_icon{
      font-size: 1.5rem;
      color: white;
     cursor: pointer;
      
} 

.dot-icon{
      font-size: 1.5rem;
      color: white;
      cursor: pointer;
}

.main-container{
      height: 100%;
      width: 100%;
      min-height: 0;
      display: grid;
      grid-template-rows: 1fr auto;
      padding: 0.2rem;
}

.massage-input{
      width: 100%;
      height: 100%;
      padding: 0.4rem;
     border-bottom: 2px solid rgba(255, 255, 255, 0.25);
            border-radius: 12px;
            box-shadow:inset 0 0 4px;

            display: flex;
            justify-content: center;
            align-items: center;
}

.input-message{
        max-width: 650px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
}
#input-message{
      width: 100%;
      width: 500px;
      height: 50px ;
      border-radius: 50px;
      outline: none;
      border: none;
      padding-left: 1rem;
      font-size: 1rem;

}

.send-text{
      height: 55px;
      width: 55px;
      border-radius: 50%;
      border: none;
     
      border: 2px solid rgba(255, 255, 255, 0.25);
      font-size: 1rem;
      box-shadow: 0 0 8px ;
      cursor: pointer;
}
.send-text:hover{
      color: white;
       background-color: green;
}

/* message-section */
.show-messages{
     
      margin: 0.5rem 2rem;
      overflow-x: hidden;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
     
      gap: 0.5rem;
}

.show-messages::-webkit-scrollbar {
    width: 6px;
}
.show-messages::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
    transition: background 0.3s ease;
}

.show-messages::-webkit-scrollbar-track {
    background: transparent;
}

.show-messages:hover::-webkit-scrollbar-thumb,
.show-messages:active::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.45);
    border: 2px solid rgba(255, 255, 255, 0.25);
}

.other-user-message{
      max-width: 70%;
    align-self: flex-start;
    background: white;
    padding: 10px 12px;
    border-radius: 12px 12px 12px 0;
    color: black;
}

.my-message{
      max-width: 70%;
    align-self: flex-end;
    background: white;
    padding: 10px 12px;
    border-radius: 12px 12px 0 12px;
    color: black;

   
}


.my-group-message{
      align-self: flex-end;
      max-width: 70%;
    
    background: white;
    padding: 10px 12px;
    border-radius: 12px 12px 0 12px;
    color: black;

    display: flex;
    flex-direction: column;
}

.other-user-group-message{
       align-self: flex-start;
         max-width: 70%;
  
    background: white;
    padding: 10px 12px;
    border-radius: 12px 12px 12px 0;
    color: black;
    display: flex;
    flex-direction: column;
}

.user-name{
      align-self: flex-start;
   font-size: 0.8rem;
   font-weight: 600;
   color: red;
}

.user-message{
      align-self: flex-start;
   font-size: 1.2rem;
   color: black;   
}


.edit-container{
       position: absolute;
      top: 80px;
      right: 10px;
         min-height: 300px;
         height: auto;
         width: 300px;
        background: transparent;
        backdrop-filter: blur(2px);
        border: 2px solid rgba(255, 255, 255, 0.25);
        border-radius: 12px 0 12px 12px;
        box-shadow:0 0 12px ;
        
      

       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;

      
}

.close-icon{
       position: absolute;
       right: 10px;
       top: 5px;
       font-size: 1.8rem;
       color: red;
       font-weight: 600;
       cursor: pointer;
}

.edit-profile{
     
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       gap: 1rem;
       margin: 1rem 0;
}

#edit-profile{
       height: 80px;
       width: 80px;
       border: none;
       border-radius: 50%;
       box-shadow: 0 0 12px; 
      
}

.edit-img{
          height: 85px;
       width: 85px;
       border: none;
       border-radius: 50%;
       box-shadow:inset 0 0 12px;
        display: flex;
       justify-content: center;
       align-items: center;
}



.edit-name-container{
       display: flex;
       justify-content: center;
       align-items: center;
       gap: 0.5rem;
       margin-left: 2rem;
}

.edit-name{
       font-size: 1.8rem;
       font-weight: 500;
       color: white;
     
}
.btn-edit{
      
       background: none;
       font-size: 1.5rem;
       border: none;
       cursor: pointer;
}
.edit-form-name{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       gap: 0.5rem;
}
#edit_name_input{
      width: 100%;
        max-width:220px ;
        border-radius: 2px;
        min-height: 25px;
        height: 100%;
        border: none;
        outline: none;
        transition: transform 0.2s ease;
        padding-left: 0.5rem;
        font-size: 1rem;
        font-weight: 500;
}

#edit_name_input:focus{
       transform: scale(1.05);
       box-shadow: 0 0 4px;
}

.btn-save{
        padding:0.5rem 1rem ;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        background-color: lightgreen;
        cursor: pointer;
}

.btn-save:hover{
       background-color: green;
       color: white;
}
/* user-in group List */
.group-users-list{
       width: 100%;
       height: auto;
       margin: 0.5rem;
     
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       gap: 0.5rem;

}

.parent-group-member{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
          gap: 0.2rem;
}

.groupMember{
       font-size: 1.2rem;
       font-weight: 500;
       color: white;

}

.remove-btn{
       padding: 0.3rem 1rem;
      
       
       
       font-weight: 500;
    background: rgba(255, 29, 15, 0.7);
     border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(12.6px);
     -webkit-backdrop-filter: blur(12.6px);
      border: 1px solid rgba(255, 29, 15, 0.56);
       color: white;
       transition: transform 0.2s ease;
       cursor: pointer;
}

.remove-btn:hover{
       transform: scale(1.05);
}

/* Delete or leave Group */
.delete-or-leave{
        margin: 1rem auto;
        
     
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      gap: 0.5rem;

}
/* leave group btn */

/* delete Group */
.delete-account,.leave-account{
      padding: 0.3rem 2rem;
      border: none;
      background: rgba(59, 181, 181, 0.27);
     border-radius: 16px;
     box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
     backdrop-filter: blur(11.1px);
     -webkit-backdrop-filter: blur(11.1px);
     border: 1px solid rgba(59, 181, 181, 0.56);

     cursor: pointer;
     font-weight: 600;
}

.delete-account:hover{
     padding: 0.3rem 2rem;
      border: none;
      background: rgba(255, 29, 15, 0.7);
     border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(12.6px);
     -webkit-backdrop-filter: blur(12.6px);
      border: 1px solid rgba(255, 29, 15, 0.56);
      color: white;
}
.leave-account:hover{
      padding: 0.3rem 2rem;
      border: none;
       background: rgba(255, 29, 15, 0.7);
     border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(12.6px);
     -webkit-backdrop-filter: blur(12.6px);
      border: 1px solid rgba(255, 29, 15, 0.56);
      color: white;
}

/* add user in group list */
.user-for-add-container{
    position: absolute;
      top: 80px;
      right: 120px;
         min-height: 100px;
         height: auto;
         min-width: 300px;
         width: 60%;
        background: transparent;
        backdrop-filter: blur(2px);
        border: 2px solid rgba(255, 255, 255, 0.25);
        border-radius: 12px 0 12px 12px;
        box-shadow:0 0 12px ;
        
      

       display: flex;
       
       justify-content: center;
       align-items: center;
}

.close-icon-add-user{
       position: absolute;
       right: 10px;
       top: 5px;
       font-size: 1.8rem;
       color: red;
       font-weight: 600;
       cursor: pointer;
  }

.show-user-for-add{
         margin: 1rem;
          display: flex;
           max-width: 100%;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          gap: 1rem;
          
}  

.parent_add_user{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
}

.add_user{
    font-size: 1.5rem; 
    font-weight: 500;
    color: white;
}
.add_user_btn{
   padding: 0.3rem 2rem;
      border: none;
     background: rgba(9, 255, 78, 0.51);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(9, 255, 78, 0.3);

     cursor: pointer;
     font-weight: 600;
}



/*  create group section */
.create-group-container{
       height: 50%;
       width: 50%;
       padding: 1rem;
       border: 2px solid rgba(255, 255, 255, 0.308);
      backdrop-filter: blur(8px);
      border-radius: 12px;
      overflow: hidden;
       
       align-self: center;
       justify-self: center;

       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       

       position: relative;
}

.close_create_container{
        position: absolute;
       right: 10px;
       top: 5px;
       font-size: 1.8rem;
       color: red;
       font-weight: 600;
       cursor: pointer;
}

.create-groups{
        position: absolute;
         top: 50px;
       font-size: 2rem;
       margin: 0.5rem;
       color: white;
       font-weight: 600;

       align-self: center;
       justify-self: center;
       cursor: none;
      
}

.group_form{
       /* position: absolute;
       bottom: 120px; */
       margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2.5rem;
        
        /* align-self: center;
       justify-self: center; */
}

#group_name{
        height: 3rem;
        width: 90%;
        border: none;
        border-radius: 12px;
        padding-left: 1rem;
        font-size: 1rem;
        outline: none;
}

.create-btn{
         padding: 0.5rem 2.5rem;
         color: white;
         border: none;
         font-size: 1rem;
         background: rgba(11, 91, 255, 0.67);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.2px);
-webkit-backdrop-filter: blur(6.2px);
border: 1px solid rgba(11, 91, 255, 0.5);

cursor: pointer;

   transition: transform 0.3s ease;
}

.create-btn:hover{
        transform: scale(1.05);
}

.show-Profile-section{
           height: 80%;
       width: 40%;

border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(7, 120, 88, 0.3);
      overflow: hidden;
       
       align-self: center;
       justify-self: center;
      

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
          gap: 1rem;
        position: relative;
}

.myprofile-close{
        position: absolute;
       right: 10px;
       top: 5px;
       font-size: 1.8rem;
       color: red;
       font-weight: 600;
       cursor: pointer;
}

.myprofile-image{
        width:100px ;
        height: 100px;
        
       
          border: none;
       border-radius: 50%;
       box-shadow:inset 0 0 12px;
        display: flex;
        justify-content: center;
        align-items: center;
}

#myprofile-image{
       height: 90px;
       width: 90px;
       border-radius: 50%;
}

.edit-myprofile-name{
       padding: 0.5rem;
         display: flex;
         justify-content: center;
         align-items: center;
         gap: 0.5rem;
        
}

.myprofile-name{
       font-size: 1.5rem;
       font-weight: 500;
       color: white;
}

.myProfile-name-edit-btn{
         font-size: 1.5rem;
         
}

.myprofile_email{
         font-size: 1.2rem;
       font-weight: 500;
       color: white;
}

.profile_group_container{
        max-height: 200px;
        height: 100%;
        width: 70%;
       
        margin: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
}

.group-in{
       align-self: flex-start;
       font-size: 1.4rem;
       color: white;
}

.profile_group_list{
       margin: 0.5rem;
       max-height: 80%;
       width:100% ;

       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       gap: 0.5rem;
       font-size: 1.3rem;
       font-weight: 500;
       overflow-y: auto;
        
       color: white;
}

.myprofile-delete{
        padding: 0.7rem 2rem;
        border: none;
        margin-bottom: 1rem;
  background: rgba(255, 11, 11, 0.74);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.2px);
-webkit-backdrop-filter: blur(6.2px);
border: 1px solid rgba(255, 11, 11, 0.5);
color: white;
cursor: pointer;
}



 .close-tab{
        position: relative;
       
         font-size: 2rem;
         color:red;
         cursor: pointer;
 }   
.hide{
     display: none;
}



  @media (max-width: 600px) {

  
  .wrapper {
    grid-template-columns: 1fr;
    height: 100svh;
    overflow: hidden;
  }

  .html{
       font-size: 14px;
  }

  
  .aside-section {
    width: 100%;
    height: 100%;
    max-width: 100%;
    border-radius: 0;
    padding: 0.5rem;
  }

 
  .aside-edit-icon {
    width: 55px;
    height: 55px;
    bottom: 20px;
    right: 20px;
  }

  .aside-edit-icon i {
    font-size: 1.3rem;
  }

  .edit-options-container {
    width: 140px;
    height: 120px;
    bottom: 90px;
    right: 20px;
  }

  .main-section {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100svh;
    max-width: 100%;
    border-radius: 0;
   
  }


  .main-section.active {
    display: grid;
  }

  
  .nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
    backdrop-filter: blur(8px);
  }

 
  .main-container {
    height: 100%;
    min-height: 0;
  }

  .show-messages {
    flex: 1;
    margin: 0.5rem;
    overflow-y: auto;
  }


  .massage-input {
    padding-bottom: env(safe-area-inset-bottom);
  }

  #input-message {
    width: 100%;
    max-width: 100%;
  }

 
  .create-group-container {
    width: 100%;
    height: 100svh;
    border-radius: 0;
  }

  
  .show-Profile-section {
    width: 100%;
    height: 100svh;
    border-radius: 0;
  }

  
  .user-for-add-container {
    width: 95%;
    right: 2.5%;
    top: 70px;
  }

  .send-text {
    height: 45px;
    width: 45px;
    font-size: 0.9rem;
    flex-shrink: 0;
  }

  .right-icons{
      
      margin-right: 1rem;
      
}

.create-groups{
        
         top: 150px;
       
     
      
}
.profile-name{
        font-size: 1.2rem;
}


}
      
