*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
       font-size: 16px;
}


.wrapper{
      min-height: 100dvh;
     margin: 0 auto;
      width: 100%;
     background-color: #001433;
      padding: 1rem;
     overflow: hidden;
      font-family: 'Times New Roman', Times, serif;

     /* flex */
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;

     box-sizing: border-box;
}


.signup-section  {
      
      height: auto;
      min-height: 450px;

      width: 100%;
      max-width: 450px;

   
      border: 3px solid rgba(255,255,255,0.2);
       background:   rgba(255,255,255,0.05);
         backdrop-filter: blur(1px); 
       border-radius: 12px;

       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       gap: 2rem;
     
}

.login-section{
      
      height: auto;
      min-height: 450px;

      width: 100%;
      max-width: 450px;

   
      border: 3px solid rgba(255,255,255,0.2);
       background:  rgba(255,255,255,0.05);
         backdrop-filter: blur(1px); 
       border-radius: 13px;

       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       gap: 1.5rem;
     
}

.logo{
 color: white;
 font-size: 2rem;

 margin-top: 2rem;
 font-weight: 600;
}

.login-form,
.signup-form{
      
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
}

.create-account,.already-account,.forget-password{
      font-size: 1.1rem;
       color: white;
         transition: transform 0.2s ease;
      }

.create-account:hover
,.already-account:hover,
.forget-password:hover{
      cursor: pointer;
     transform: scale(1.05);
}



input{
       width: 100%;
       padding: 0.5rem 1.5rem ;
       border-radius: 5px ;
       border: none;
       outline: none;
       font-weight: 500;
       box-sizing: border-box;
}

input:focus{
        box-shadow: 0 0 4px white;
}

button{
        padding: 0.5rem 1.5rem 0.5rem 1.5rem;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        transition: transform 0.2s ease;
}

button:hover{
         transform: scale(1.08);
}


.forget-password-section{
    height: auto;
      min-height: 450px;

      width: 100%;
      max-width: 450px;

   
      border: 3px solid rgba(255,255,255,0.2);
       background:  rgba(255,255,255,0.05);
         backdrop-filter: blur(1px); 
       border-radius: 13px;

       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       gap: 1.5rem;
}

.forget-email-form{
   display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       gap: 1.5rem;

}
.otp-form{
   display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       gap: 1.5rem;
}

.set-new-password{
  display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       gap: 1.5rem;
}
.hide{
    display: none;
}

/* phone */
@media (max-width:600px) {
      html{
       font-size: 12px;
}
  
}

@media (min-width: 601px) and (max-width: 992px) {
    html{
      font-size: 14px;
    }
}